<%- include("header") -%>
<div>
  <img class="logo_pic" src="danlaw.jpg" alt="logo">
  <p class="logo_name">DANLAW TECHNOLOGIES INDIA LTD.</p>
</div>
<div class="void"></div>
<form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="excelsheet" />
  <button type="submit">Upload</button>
</form>
<br>
<div class="filterby">
  <form action="/filterby" method="post">
    <ul class="list-group">
      <li class="list-group-item">
        <label> <input type="checkbox" id="myCheckbox1" /> Date:  </label>
        <input
          name="DATE"
          type="text"
          id="myInput1"
          placeholder="Enter text"
          disabled
        />
      </li>
      <li class="list-group-item">
        <label> <input type="checkbox" id="myCheckbox2" /> Shift: </label>
        <select name="SHIFT" id="myInput2" placeholder="Enter text" disabled>
          <option value="Gen">Gen</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
        <!-- <input
          name="SHIFT"
          type="text"
          id="myInput2"
          placeholder="Enter text"
          disabled
        /> -->
      </li>
      <li class="list-group-item">
        <label> <input type="checkbox" id="myCheckbox3" /> Product: </label>
        <select name="PRODUCT" id="myInput3" placeholder="Enter text" disabled>
          <option value="Danlaw">Danlaw</option>
          <option value="APFC">APFC</option>
          <option value="Dellorto">Dellorto</option>
          <option value="Dura">Dura</option>
          <option value="Emerald">Emerald</option>
          <option value="IJL230B">IJL230B</option>
          <option value="IJL660A">IJL660A</option>
          <option value="Kongsberg">Kongsberg</option>
          <option value="S3RP">S3RP</option>
          <option value="Tyco">Tyco</option>
          <option value="LEDs">LEDs</option>
        </select>
        <!-- <input
          name="PRODUCT"
          type="text"
          id="myInput3"
          placeholder="Enter text"
          disabled
        /> -->
      </li>
      <li class="list-group-item">
        <label> <input type="checkbox" id="myCheckbox4" /> Type: </label>
        <select name="TYPE" id="myInput4" placeholder="Enter text" disabled>
          <option value="Logger_4G">Logger_4G</option>
          <option value="AP30_11">AP30_11</option>
          <option value="AP30_13">AP30_13</option>
          <option value="AP30_25">AP30_25</option>
          <option value="AQ30_11">AQ30_11</option>
          <option value="AQ30_25">AQ30_25</option>
          <option value="AW_30">AW_30</option>
          <option value="Bajaj_ETB">Bajaj_ETB</option>
          <option value="BMW">BMW</option>
          <option value="BMW K03">BMW K03</option>
          <option value="BMW K2X DX">BMW K2X DX</option>
          <option value="BMW K2X SX">BMW K2X SX</option>
          <option value="BW_30">BW_30</option>
          <option value="Controller_144">Controller_144</option>
          <option value="Controller_96">Controller_96</option>
          <option value="D1_100">D1_100</option>
          <option value="D1_32">D1_32</option>
          <option value="D1_40">D1_40</option>
          <option value="D1_50">D1_50</option>
          <option value="D1_62">D1_62</option>
          <option value="D1_62.5">D1_62.5</option>
          <option value="D1_80">D1_80</option>
          <option value="D3_100">D3_100</option>
          <option value="D3_62">D3_62</option>
          <option value="D3_80">D3_80</option>
          <option value="DAQ Series-2">DAQ Series-2</option>
          <option value="Diesel">Diesel</option>
          <option value="Gasoline">Gasoline</option>
          <option value="Illumination">Illumination</option>
          <option value="K08 BMW">K08 BMW</option>
          <option value="Lamp_LED">Lamp_LED</option>
          <option value="LH_230B">LH_230B</option>
          <option value="LH_660A">LH_660A</option>
          <option value="Neutral_4P">Neutral_4P</option>
          <option value="NM20_74">NM20_74</option>
          <option value="NM20_76">NM20_76</option>
          <option value="NP20_76">NP20_76</option>
          <option value="NM30_76">NM30_76</option>
          <option value="P_202">P_202</option>
          <option value="P_33">P_33</option>
          <option value="PS_144">PS_144</option>
          <option value="PS_96">PS_96</option>
          <option value="Relay_12step">Relay_12step</option>
          <option value="Relay_14step">Relay_14step</option>
          <option value="Relay_16step">Relay_16step</option>
          <option value="Renault">Renault</option>
          <option value="Renault-melexis">Renault-melexis</option>
          <option value="RH_230B">RH_230B</option>
          <option value="RH_660A">RH_660A</option>
          <option value="S106 Main">S106 Main</option>
          <option value="S201 bezzel">S201 bezzel</option>
          <option value="Sensor">Sensor</option>
          <option value="Sensor_3_in_1">Sensor_3_in_1</option>
          <option value="SG_1">SG_1</option>
          <option value="Thyristor">Thyristor</option>
          <option value="Volvo">Volvo</option>
        </select>
        <!-- <input
          name="TYPE"
          type="text"
          id="myInput4"
          placeholder="Enter text"
          disabled
        /> -->
      </li>
      <li class="list-group-item">
        <label> <input type="checkbox" id="myCheckbox5" /> Activity: </label>
        <select name="PRODUCT" id="myInput5" placeholder="Enter text" disabled>
          <option value="Antenna assembly">Antenna assembly</option>
          <option value="Base Assy">Base Assy</option>
          <option value="Battery Assembly">Battery Assembly</option>
          <option value="Battery cover glueing">Battery cover glueing</option>
          <option value="Bottom cover Gasket">Bottom cover Gasket</option>
          <option value="Bottom cover glueing">Bottom cover glueing</option>
          <option value="Box build assembly">Box build assembly</option>
          <option value="Cable Insertion">Cable Insertion</option>
          <option value="Conn Assembly">Conn Assembly</option>
          <option value="Conn soldering">Conn soldering</option>
          <option value="CS1">CS1</option>
          <option value="CS2">CS2</option>
          <option value="DIP switch sold">DIP switch sold</option>
          <option value="Display Sold">Display Sold</option>
          <option value="EOL Testing">EOL Testing</option>
          <option value="Final VI">Final VI</option>
          <option value="Heat stacking 1">Heat stacking 1</option>
          <option value="Heat stacking 2">Heat stacking 2</option>
          <option value="Heat stacking 3">Heat stacking 3</option>
          <option value="IC Soldering">IC Soldering</option>
          <option value="ICT 1">ICT 1</option>
          <option value="ICT 2">ICT 2</option>
          <option value="Lead Cutting">Lead Cutting</option>
          <option value="Metal Plate Assembly">Metal Plate Assembly</option>
          <option value="NTC Forming">NTC Forming</option>
          <option value="NTC soldering">NTC soldering</option>
          <option value="Packing">Packing</option>
          <option value="PCBA testing">PCBA testing</option>
          <option value="Potting">Potting</option>
          <option value="Potting VI">Potting VI</option>
          <option value="Robotic soldering">Robotic soldering</option>
          <option value="Screwing">Screwing</option>
          <option value="Singulation 1">Singulation 1</option>
          <option value="Singulation 2">Singulation 2</option>
          <option value="Switch Sold">Switch Sold</option>
          <option value="Testing">Testing</option>
          <option value="Testing 1">Testing 1</option>
          <option value="Testing 2">Testing 2</option>
          <option value="TH Soldering">TH Soldering</option>
          <option value="TH1">TH1</option>
          <option value="TH2">TH2</option>
          <option value="Top cover Gasket">Top cover Gasket</option>
          <option value="Touch up">Touch up</option>
          <option value="VI">VI</option>
        </select>
        <!--<input
          name="ACTIVITY"
          type="text"
          id="myInput5"
          placeholder="Enter text"
          disabled
        /> -->
      </li>
      <li class="list-group-item">
        <label> <input type="checkbox" id="myCheckbox6" /> Operator: </label>
        <input
          name="OPERATOR"
          type="text"
          id="myInput6"
          placeholder="Enter text"
          disabled
        />
      </li>
    </ul>
    <button class="submit-button" type="submit">Filter</button>
  </form>
</div>

<script src="options.js"></script>
<div class="void2"></div>
<%- include("footer") -%>
